{% extends 'admin/index.html.twig' %}
{% block title %}Envoyer une facture |
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3">Envoyer une facture</h2>
					{% include "forms/admin_facture.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
