{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<div>
		<h1>Supprimer mon compte</h1>
		<h3>Etes vous sur ?
		</h3>
		<form method='post'>
			<input type="submit" name="supprimer" value="Supprimer le compte">
			<input type="submit" name="annuler" value="Annuler">
		</form>
	</div>
{% endblock %}
