{% extends 'base.html.twig' %}

{% block title %}Suppression Compte | {{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-right ml-3 text-white">Supprimer mon compte</h2>
				<div class="card my-5 py-3 bg-light">
					<div class="card-text text-center my-3">
						<h3>	
							<div class="text-danger d-inline-block">
								<i class="bi bi-exclamation-triangle"></i>
							</div>
							Souhaitez-vous supprimer votre compte ? 
							<div class="text-danger d-inline-block">
								<i class="bi bi-exclamation-triangle"></i>
							</div>
						</h3>
					</div>
					<div class="text-center my-3">
						<form method='post'>
							<input class="btn btn-outline-secondary bg-warning text-dark" type="submit" name="annuler" value="Annuler">
							<input class="btn btn-outline-secondary bg-danger text-white" type="submit" name="supprimer" value="Supprimer le compte">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
