{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil |
	{{parent()}}
{% endblock %}

{% block body %}
	<div>
		<h1>Modifier votre profil</h1>
		{{form(form)}}
		</div>

	{% endblock %}
