{% extends 'base.html.twig' %}

{% block title %}Modifier le profil |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col text-dark">
				<h2 class="text-right ml-3 text-white">Modifier le profil</h2>
				{% include "forms/first_edit_profile.html.twig" %}
			</div>
		</div>
	</div>
</div></div>{% endblock %}
