{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	{% block menu %}{% endblock %}
	<div id="bg-app" class="position-absolute"></div>
	<section class="container">
		<div class="row">
			<div class="col text-dark my-5">
				<h1 class="text-left">Réinitialisation de mot de passe</h1>
				<div class="my-3">
					{{ form_start(requestPassForm) }}
					{{ form_row(requestPassForm.email) }}
				</div>
				{{ form_end(requestPassForm) }}
			</div>
		</div>
	</section>
</div></div>{% endblock %}
