{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	{% block menu %}{% endblock %}
	<div id="bg-app" class="position-absolute"></div>
	<section class="container">
		<div class="row">
			<div class="col text-dark">
				<h1>Réinitialisation de mot de passe</h1>
				{{ form_start(passForm) }}
				{{ form_row(passForm.password) }}
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>
</div></div>{% endblock %}
