{% extends 'base.html.twig' %}
{% block title %}Envoyer une demande |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col text-white">
				<h2 class="text-right ml-3 ">Envoyer une demande</h2>
				{% include "forms/demande.html.twig" %}
			</div>
		</div>
	</div>
</div></div>{% endblock %}
