<div class="card p-3 mt-3">
	<form action="" method="post">
		<label for="dateFrom">Recherche par date: De</label>
		<input type="date" name="dateFrom">
		<label for="dateTo">au</label>
		<input type="date" name="dateTo">
		<input type="submit" name="button" value="Envoyer">
	</form>

</div>
