<div class="card col-12 col-md-8 p-3 mt-3 mx-auto">
	<form action="" method="post">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="col-12 col-lg-3 mt-3 text-center">
				<span class="fw-bold">Recherche :
				</span>
			</div>

			<div class="col-12 col-lg-3 my-3 text-center">

				<label for="dateFrom">Du</label>
				<input type="date" name="dateFrom">
			</div>
			<div class="col-12 col-lg-3 my-3 text-center">
				<label for="dateTo">Au</label>
				<input type="date" name="dateTo">
			</div>
			<div class="col-12 col-lg-3 my-3 text-center">
				<input class="btn btn-primary" type="submit" name="rechercher" value="Rechercher">
			</div>
		</div>

	</form>

</div>
