{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter un utilisateur |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2 class="text-right ml-3">Ajouter un utilisateur</h2>


	{% include "forms/admin_user.html.twig" %}
{% endblock %}
