{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter un utilisateur |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col text-dark">
				<h2 class="text-right ml-3">Ajouter un utilisateur</h2>
				{% include "forms/admin_user.html.twig" %}
			</div>
		</div>
	</div>
</div></div>{% endblock %}
